<config>
  <sep>,</sep>
    <data>
  
      <predictors>breast_cancer_number_of_new_female_cases.csv, cervical_cancer_number_of_new_female_cases.csv </predictors>
      <target>liver_cancer_number_of_new_female_cases.csv </target>
     
    
      <prediction>
        <country>Australia</country>
        <year>2005</year>
      </prediction>
  
    </data>
  
    <testRate>0.2</testRate>
    <outputFile>output</outputFile>
  </config>