<config>
  <sep>,</sep>
  <data>
  
  <predictors>children_per_woman_total_fertility.csv, population_total.csv, gdp_total_yearly_growth.csv, long_term_unemployement_rate_percent.csv</predictors>
  <target>killed_women.csv</target>
  
  <prediction>
  <country>Australia</country>
  <year>2005</year>
  </prediction>
  
  </data>
  
  <testRate>0.2</testRate>
  <outputFile>output</outputFile>
  </config>